@keyframes flip {
    from { transform: rotateY(0deg);}
    to { transform: rotateY(180deg);}
}


.animate-flip {
    animation: flip 400ms ease-in-out forwards;
}

.card-front, .card-back{
    backface-visibility: hidden;
}
.card-front {
    transform: rotateY(180deg);
}

.card-inner {
    transition: transform 0.4s ease-in-out;
    transform-style: preserve-3d;
}
.card-inner.flipped {
    transform: rotateY(180deg);
}